<h1>
  <% if @answer.correct %>
  <font color="#7FFF00">Yo!!!
  <%= image_tag 'http://www.chicagonow.com/steve-dales-pet-world/files/2011/09/Happy-cat.jpg' %>
  <% else %>
  <font color="#DC143C">Loser!!
  <%= image_tag 'http://www.gazduna.com/wp-content/uploads/2012/01/man-with-l-for-loser_1.jpg' %>
  <% end %>
</h1>
